#line2:hover {
    color: rgb(188, 132, 27);
}

/* 1. tác dụng lên selector khi di chuột qua
 re chuột đến sẽ xuất hiện thay đổi */
.title:hover {
    color: rgb(188, 132, 27);
    font-size: 15px;
}

/* 2. tác dụng lên selector khi nhấn giữ chuột 
 click giữ sẽ xuất hiện thay đổi */
.title:active {
    color: rgb(57, 27, 188);
    font-size: 20px;
}

/* 3. tác dụng lên selector khi chưa click vào truy cập
 link chưa click vào */
.clickme:link {
    color: brown;
}

/* 1. tác dụng lên selector khi đã click vào truy cập
 link đã click */
.clickme:visited {
    color: rgb(42, 165, 56);
}

/* khi div trống thì thực hiện thẻ này */
.div_elm:empty {
    width: 200px;
    height: 200px;
    background-color: burlywood;
}

.div_elm {
    width: 200px;
    height: 200px;
    background-color: moccasin;
}

/* bấm vào link a sẽ thay đổi tương ứng   */
h2:target {
    color: darkmagenta;
}