/* tính từ thẻ bao div  */
/* là phần tử đầu tiên, nếu chèn them h1 or .. thì p không còn là phần tử đầu tiên */
/* p:first-child {
    color: red;
    font-size: 18px;
} */

/* là phần tử cuối */
/* p:last-child {
    color: violet;
    font-size: 20px;
} */


/* 
:nth-child() : tính từ trên xuống, bđ =1
:nth-last-child() : tính từ dưới lên  
*/
/* tại :nth-child() có thể sử dụng odd (lẻ), even(chẵn), 2n+1,... */
/* p:nth-child(2) {
    color: aqua;
} */

/*  (3n+1)
n=0 ->1
n=1 ->4
n=2 ->7
*/
p:nth-last-child(even) {
    color: lightcoral;
    font-size: 24px;
}

/* thẻ con duy nhất trong div, chỉ 1 con  */
p:only-child {
    color: green;
}